@charset "UTF-8";

.imagem{
    display:block;
    margin:auto
}

.template svg{
    display:none;
}

form{

    background-color:white;
    overflow:hidden;
    width:70%;
    max-width:100%;
    height:auto;
    border-radius:20px;
}




