.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@font-face{
    font-family: 'Roboto-Bold';
    src:url(../assets/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face{
    font-family: 'Roboto-Regular';
    src:url(../assets/fonts/Roboto-Regular.ttf) format("truetype");
}

*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    background-color: #37384D;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.texts{
    
    margin-left:8%;
    margin-top:8%;
}
.texts h1{
    font-family:Roboto-Bold;
    font-size: 55px;
    color:#353444;
}

.subtitle{
    font-family:Roboto-Regular;
    margin-top:4%;
}

.container{
    font-family: Roboto-Regular;
    margin-top:4%;
}

.item{
    display:flex;
    flex-direction: column;
    margin-bottom: 2%;
}
.item svg{
    margin-top:-20px;
}

.item p{
    margin-left:10%
}

form{
    background-color:white;
    width:65%;
    max-width:100%;
    border-radius:20px;
}

.template svg{
    float:right;
    margin-right:10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height:550px;

}

.login{
    display:flex;
    flex-direction:column;
    font-family: Roboto-Bold;

}
.login input{
    border:2px solid rgb(179, 178, 178);
    border-radius: 7px;
    padding:15px;
    font-size: medium;
    width:79%; 
}

.login label{
    font-size: small;
    margin-top:8%;
    margin-bottom: 3%;
}

.button{
    margin-top:5%;
    padding:15px;
    background-color:#272631 ;
    border-radius: 7px;
    width:79%;
    color:white;
}
